//TEXT COLOR

//////////////////////////
//       BLUE         //
//////////////////////////

$blue-100: #cfe2ff;
$blue-200: #9ec5fe;
$blue-300: #6ea8fe;
$blue-400: #3d8bfd;
$blue-500: #0d6efd;
$blue-600: #0a58ca;
$blue-700: #084298;
$blue-800: #052c65;
$blue-900: #031633;

//////////////////////////
//       GRAY           //
//////////////////////////

$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #6c757d;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;

$hover-button-background: rgba(0, 0, 0, 0.06);

//TEXT STYLE

$bold-h1: bold 2.5rem Inter;
$bold-h2: bold 2rem Inter;
$bold-h3: bold 1.75rem Inter;
$bold-h4: bold 1.5rem Inter;
$bold-h5: bold 1.25rem Inter;
$bold-h6: bold 1rem Inter;

$semibold-h1: 600 2.5rem Inter;
$semibold-h2: 600 2rem Inter;
$semibold-h3: 600 1.75rem Inter;
$semibold-h4: 600 1.5rem Inter;
$semibold-h5: 600 1.25rem Inter;
$semibold-h6: 600 1rem Inter;

$medium-h1: 500 2.5rem Inter;
$medium-h2: 500 2rem Inter;
$medium-h3: 500 1.75rem Inter;
$medium-h4: 500 1.5rem Inter;
$medium-h5: 500 1.25rem Inter;
$medium-h6: 500 1rem Inter;

$base-text: 400 0.938rem Inter;
$small: 400 0.75rem Inter;
