.main-layout {
  display: flex;
  flex-direction: row;
  background-color: #fbfbfb;
  min-height: 100vh;
}

.main-container {
  display: flex;
  flex-direction: column;
  flex: 1;
  position: relative;
  margin-left: 240px;
  padding-top: 64px;
  max-height: calc(100vh - 64px);

  &.collapsed {
    margin-left: 84px;
  }
}
