.e-schedule .e-appointment-details{
    padding: 0 !important;
    height: 100%;
    width: 100%;
}

.e-schedule .e-appointment-details div{
    padding: 0 !important;
    height: 100%;
    width: 100%;
}

.e-schedule .my-calendar-custom-event{
    background-color: green;
    padding: 20px;
    height: 100%;
    width: 100%;
}

.e-indicator.e-icons.e-left-icon, .e-indicator.e-icons.e-right-icon{
    display: none;
}