.activity-joined {
  display: flex;
  flex-direction: row;
  //   min-height: 100vh;
  overflow-y: scroll;
  height: 100%;

  .main {
    flex: 4;
    padding: 20px;
    height: 100%;

    .page-title {
      margin-bottom: 40px;
    }

    .flex-column {
      display: flex;
      flex-direction: column;
      gap: 20px;
      width: 90%;
      margin: auto;

      .item {
        display: flex;
        flex-direction: column;
        background-color: white;
        border-radius: 12px;
        border: 1px solid $gray-300;

        .title {
          margin-bottom: 12px;
          padding: 20px 0px 0px 20px;
          font: $bold-h4;
        }

        .activity-card {
          box-shadow: none;
          border: none;
        }
      }
    }
  }
}
